/alire.lock
b__*
docs/_build
examples/library/obj
gnat/
/gnat_src
gnatinspect.*
lib/
makefile.setup
obj/
src/sqlite/amalgamation/sqlite3_for_gps

*.cgpr
*.bexch
*.a
*.d
*.stdout
*.stderr
*.ali
*.gli
*.exe
*.gcda
*.gcno
*.gcov
*.bexch
*.o
*.deps
*.pyc
